<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora quisquam nam at libero omnis nemo? Velit delectus vitae nemo cum ad odit quam quos corporis quia commodi! Ratione, numquam vitae rem aperiam sed dignissimos.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora quisquam nam at libero omnis nemo? Velit delectus vitae nemo cum ad odit quam quos corporis quia commodi! Ratione, numquam vitae rem aperiam sed dignissimos.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora quisquam nam at libero omnis nemo? Velit delectus vitae nemo cum ad odit quam quos corporis quia commodi! Ratione, numquam vitae rem aperiam sed dignissimos.</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>